#site-header {
  position: absolute;
  z-index: 9;
  backdrop-filter: blur(2px);
  border-radius: 2.5rem;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0px 18px 40px 0px rgba(255, 254, 254, 0.10);
  display: flex;
  margin: 1.5rem var(--page-padding);
  padding: 1rem 2rem;
  align-items: center;
  width: calc(100% - 2*var(--page-padding));
  justify-content: space-between;
  align-self: center;
}
#site-header > nav > .button {
  display: none;
}
#site-header > nav > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 3rem;
}
#site-header > nav > div:nth-child(2) > div {
  display: flex;
}
#site-header > nav > div:nth-child(2) > ul {
  list-style: none;
  display: inline-flex;
  gap: 2rem;
  font-size: 20px;
}
#site-header > nav > div:nth-child(2) > ul a {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: inherit;
  text-decoration: inherit;
}
#site-header > nav > div:nth-child(2) > ul a.active{
  color: #BD7500;
}
#site-header > nav > div:nth-child(2) > div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
#site-header > nav > div:nth-child(2) > div > div:nth-child(2) {
  border-radius: 99px;
  padding: 1rem 2rem;
}
#site-header > nav > div:nth-child(2) > div > div:nth-child(2) > span {
  display: flex;
}

@media screen and (max-width: 1300px) {
  #site-header {
    margin: 1.5rem var(--page-padding);
    padding: .5rem 1rem;
  }
  #site-header > nav > div:nth-child(2) > ul {
    gap: 1rem;
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  #site-header > nav > div:nth-child(2) {
    gap: 1.5rem;
  }
  #site-header > nav > div:nth-child(2) > div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  #site-header > nav > div:nth-child(2) > div > div:nth-child(2) {
    border-radius: 99px;
    padding: .75rem 1rem;
  }
}
@media screen and (max-width: 1000px) {
  #site-header {
    position: relative;
    margin: 0;
    height: var(--header-height);
    padding: 0 var(--page-padding);
    background: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 2px solid var(--highlight-color);
    margin-bottom: -2px;
  }
  #site-header > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #site-header > nav > .button {
    display: block;
    display: flex;
    height: var(--header-height);
    justify-content: center;
    align-items: center;
  }
  #site-header > nav > div:nth-child(2) {
    display: none;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: flex-end;
  }
  #site-header > nav > div:nth-child(2) > ul {
    flex-direction: column;
    align-items: center;
  }
  #site-header > nav[data-open="true"] {
    border: 2px solid var(--highlight-color);
    top: 0;
    right: 0;
    position: absolute;
    background: var(--bg-color);
    padding-inline: var(--page-padding);
  }
  #site-header > nav[data-open="true"] > div:nth-child(2) {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  #site-header > nav > div:nth-child(2) {
    border-top: inherit;
    width: 100%;
    align-items: center;
    padding: 2rem;
  }
  #site-header > nav[data-open="true"] {
    width: 100%;
  }
}
