#hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/bgcolor_patch.svg), url(/images/wave2.svg);
  background-size: contain, auto 100%;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
#hero > header {
  padding: 2rem var(--page-padding);
  max-width: 50rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#hero > header > h1 > span {
  background: linear-gradient(180deg, #fbbc04 64.58%, #fbbc04 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fbbc04;
}
#hero > header > p {
  max-width: 40rem;
  font-size: 1.2rem;
}
#hero > header > .btn {
  margin-top: 1rem;
  padding-inline: 2rem;
}
#hero > .tech {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0px 20px 44px 0px rgba(0, 0, 0, 0.03);
  padding-block: 1.5rem;
  padding-inline: var(--page-padding);
}
#hero > .tech span {
  display: block;
  height: 2.5rem;
}
#hero > .tech span > * {
  height: 100%;
}
#hero > .tech > :global(div:not(.is-active)) :global(.splide__list) {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
@media screen and (max-width: 900px ) {
  #hero > .tech {
    flex-wrap: wrap;
    justify-content: center
  }
}
@media screen and (max-width: 500px ) {
  #hero {
    height: auto;
  }
  #hero > header {
    justify-content: center;
    height: 60vh;
    min-height: 500px;
  }
  #hero > .tech {
    position: relative;
  }
}