#testimonials {
  padding: 3rem var(--page-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#testimonials > header {
  align-self: center;
  text-align: center;
  max-width: 800px;
}
#testimonials > div {
  
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 2rem; */
  /* padding-inline: 1rem; */
}
/* #testimonials > div > * {
  flex-basis: 40%;
} */

#testimonials > :global(div:not(.is-active)) :global(.splide__list) {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  max-width: 1050px !important;
}
#testimonials > :global(div.is-active) :global(.splide__pagination) {
  gap: .5rem;
}
#testimonials > :global(div.is-active) :global(.splide__pagination) :global(button) {
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  background-color: #dddddd;
  border-radius: 100%;
}
#testimonials > :global(div.is-active) :global(.splide__pagination) :global(button.is-active) {
  background-color: #aaaaaa;
}

.testimonial {
  display: flex;
  padding: 40px 44px;
  flex-direction: column;
  background-color: var(--clr-grey);
  border-radius: 40px;
  gap: 2rem;
}
.testimonial > div {
  display: flex;
  gap: 1rem;
}
.testimonial > div > img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: center;
  border-radius: 99px;
}
.testimonial > div > span {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial > div > span > h5 {
  font-size: 1.25rem;
}
.testimonial > div > span > p {
  font-size: 12px;
}
.testimonial > p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .testimonial {
    padding: 2rem;
    gap: 1rem;
    border-radius: 16px;
  }
  .testimonial > div > span > p {
    font-size: 10px;
  }
  .testimonial > p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .testimonial {
    padding: 1rem;
    gap: 1rem;
    border-radius: 16px;
  }
  .testimonial > div > span > p {
    font-size: 10px;
  }
  .testimonial > p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  #testimonials > div {
    grid-template-columns: 1fr;
  }
}
